<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503016574786-k985taa70jauk2i0ngr850v5kkao2n7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503016574786-k985taa70jauk2i0ngr850v5kkao2n7n</string>
	<key>API_KEY</key>
	<string>AIzaSyD_W4mn20UjMqjYsOHpiu8lwADjnn00TcU</string>
	<key>GCM_SENDER_ID</key>
	<string>503016574786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catch22Flutter</string>
	<key>PROJECT_ID</key>
	<string>catch-22-327e2</string>
	<key>STORAGE_BUCKET</key>
	<string>catch-22-327e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503016574786:ios:d51915c254a11a3bea42db</string>
</dict>
</plist>